<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- ------------------------------------------------------------ -->
  <!-- Server credentials (Nexus)                                   -->
  <!-- ------------------------------------------------------------ -->
  <servers>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>Nexus</password>
    </server>

    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>Nexus</password>
    </server>

    <server>
      <id>dependency-release</id>
      <username>admin</username>
      <password>Nexus</password>
    </server>

    <server>
      <id>project-test-proxy</id>
      <username>admin</username>
      <password>Nexus</password>
    </server>
  </servers>

  <!-- ------------------------------------------------------------ -->
  <!-- Mirror all Maven repos through Nexus                         -->
  <!-- ------------------------------------------------------------ -->
  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://98.81.8.111:8081/devops/repository/maven-public/</url>
    </mirror>
  </mirrors>

  <!-- ------------------------------------------------------------ -->
  <!-- Nexus & Sonar repositories                                   -->
  <!-- ------------------------------------------------------------ -->
  <profiles>
    <profile>
      <id>nexus</id>

      <repositories>
        <repository>
          <id>dependency-release</id>
          <url>http://98.81.8.111:8081/devops/repository/dependency-release/</url>
        </repository>

        <repository>
          <id>project-test-proxy</id>
          <url>http://98.81.8.111:8081/devops/repository/project-test-proxy/</url>
        </repository>

        <repository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2/</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <!-- SonarQube -->
    <profile>
      <id>sonar</id>
      <properties>
        <sonar.host.url>http://98.81.8.111:8081/</sonar.host.url>
        <sonar.login>sqa_9ec2b022489f3e4fc9af77e884e83f3e6aadcfb5</sonar.login>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus</activeProfile>
    <activeProfile>sonar</activeProfile>
  </activeProfiles>

</settings>
